/*Class that changes style if advanced options are chosen*/
.types-advanced{
    position: relative;
	color: #FFFFFF;
    background: #22313F;
	border: 3px solid #405c76;
	height: 74px;
    width: auto;
    font-family: inherit;
    font-size: inherit;
    padding: 0 55px;
    text-transform: uppercase;
    font-weight: 700;
    outline: 0;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    transition: background-color .3s, border 0.7s;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.types-advanced:hover{
	border: 3px solid #fff;
	background-color: #FFFFFF;
	color: #22313f;
}

.dropdown-button {
    position: relative;
	height: 74px;
	width: auto;
	font-family: inherit;
	font-size: inherit;
	background: 0 0;
	padding: 0 55px;
	text-transform: uppercase;
	font-weight: 700;
	transition: background-color .3s;
	border: 3px solid #fff;
	color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.dropdown-button:hover {
	background-color: #FFFFFF;
	color: #22313f;
}
 .types-advanced .dropdown-menu, .dropdown-button .dropdown-menu {
    position: absolute;
    width: 100%;
    color: #FFF;
    background: #22313F;
    line-height: 30px;
    visibility: hidden;
    border-radius: 0;
    opacity: 0;
    text-transform: none;
    text-shadow: none;
     right: -3px;
}
#search-field > .dropdown-menu {
    position: absolute;
    width: calc(100% - 74px);
    background: #D7D7D7;
    border-radius: 0;
    transition: opacity .7s;
    padding: 0;
    left: 38px;
    top: 100px;
    z-index: 1;
    display: none;
    color: #35393E;

}
 .types-advanced:hover .dropdown-menu, .dropdown-button:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    z-index: 999;
    transition: opacity .7s;
    padding: 0;
    top: 56px;
    border: 3px solid #fff;
}
#search-field>ul>p {
    text-align: center;
    font-family: 'segoe ui', Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    width: 100%;
    background: rgba(53, 57, 62, 0.8);
    margin: 0;
    color: white;
}

.dropdown-menu > li {
    padding: 8px;
    border-top: groove #FFFFFF 1px;
}
#search-field > ul > li:hover {
    background-color: #ffffff;
    transition: background-color 0.3s;
}
.dropdown-menu > li > ul {
    min-width: 141px;
    color: #FFF;
    background: #22313F;
    line-height: 30px;
    visibility: hidden;
    border-radius: 0;
    opacity: 0;
    text-transform: none;
    text-shadow: none;
}
.types-advanced .dropdown-menu > li {
    position: relative;
    height: 30px;
    padding: 8px;
    border-top: groove #FFFFFF 1px;
    transition: background-image 0.7s;

}
#catalogues .dropdown-menu >li:hover, #types .dropdown-menu >li:hover, .types-advanced .dropdown-menu > li:hover {
    height: auto;
    background-color: #008fff;
    transition: background-color 0.3s, height 0.3s;
}
.types-advanced .dropdown-menu > li > ul {
    position: absolute;
    min-width: 141px;
    color: #FFF;
    background: #22313F;
    line-height: 30px;
    visibility: hidden;
    border-radius: 0;
    opacity: 0;
    text-transform: none;
    text-shadow: none;
}
.types-advanced .dropdown-menu > li:hover ul{
    visibility: visible;
    opacity: 1;
    z-index: 999;
    transition: opacity .7s;
    padding: 0;
    top: -3px;
    left: 185px;
    min-width: calc(100% - 188px);
    border: 3px solid #fff;
    list-style: inherit;
}
.types-advanced .dropdown-menu > li > ul > li{
    background-color: #22313F;
    padding: 8px;
    border-top: groove #FFFFFF 1px;
    transition: background-image 0.7s;
}
.types-advanced .dropdown-menu > li > ul > li:hover{
    background-color: #008fff;
    transition: background-color 0.3s;
}