button  {
	display: block;
}
#advanced {
	background-color: #ffbf00;
}
#types > button:hover  + .dropdown-menu {
	display: block;

}
#catalogues > button:hover  + .dropdown-menu {
	display: block;
}
.dropdown-menu > li > ul {
	display: none;
}
.single-type:hover > ul {
	display: block;
}

.dropdown-menu {
	display: none;
	z-index: 100;
	color: #ffffff;
	margin: 0;
	padding: 0;
	position: absolute;
	background-color: #abb1be;
	width: 202px;
}
.dropdown-menu >* {
	padding: 10px 5px 10px 5px;
	border-bottom: solid 1px ;
}
.dropdown-menu > *:hover {
	background-color: #0078D7;
	border-bottom: solid 1px #0078D7 ;
}
.dropdown-menu:hover {
	display: block;
}
.otype {
	list-style-type: none;
	position: relative;
	z-index: 101;
	color: #ffffff;
	margin: 0;
	padding: 0;
	background-color: #abb1be;
	overflow: hidden;
	left: 197px;
	top: -31px;
	width: 265px;
}
.otype > *:hover {
	background-color: #0078D7;
	border-bottom: solid 1px #0078D7 ;

}
.single-type {
	height: 20px;
	padding: 10px 5px 10px 5px;
	border-bottom: solid 1px ;

}
#catalogues > ul {
	width: 271px;
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
	.dropdown-menu {
    width: 57vw;
    text-align: center;
}
	#catalogues > ul {
        width: 100vw;
	}
	.otype {
		left: 48.7vw;
		width: 49.15vw;
	}
	#const-group {
		flex: 10 1 100%;
	}
}
@media only screen
and (max-width : 480px) {
	.dropdown-menu {
		width: 100vw;
	}
	#catalogues > ul {
		width: 100vw;
	}
	.otype {
		left: -40px;
		margin-left: 50vw;
		width: 50vw;
	}
	body {
		min-height: 1600px;
	}
		#const-group {
		flex: 10 1 100%;
	}

}
@media only screen and (min-width : 1025px) and (max-width: 1280px) {
	.dropdown-menu {
		width: 24.7vw;
	}
	#catalogues > ul {
		width: 25vw;
	}
	.otype {
		left: 24.2vw;
		width: 25vw;
	}
	    #const-group {
        flex: 10 1 50%;
    }

}
@media only screen
and (min-width : 1824px) {
	.dropdown-menu {
		width: 202px;
	}
	.otype {
		left: 197px;
		top: -31px;
		width: 268px;
	}
	#catalogues > ul {
		width: 271px;
	}
}
	#const-group {
		flex: 2 1 300px;
	}