body > div.box{
    display: none;
}
.loader1{
	position: relative;
	height: 90px;
	width: 90px;
	border-radius: 80px;
	border: 3px solid rgba(43, 87, 151, 0.70);

	top: 28%;
	top: -webkit-calc(50% - 43px);
	top: calc(50% - 43px);
	left: 35%;
	left: -webkit-calc(50% - 43px);
	left: calc(50% - 43px);

	-webkit-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
	-webkit-animation: loader1 6s linear infinite;
			animation: loader1 6s linear infinite;
}

.loader1:after{
	content: "";
	position: absolute;
	top: -10px;
	left: 20px;
	width: 20px;
	height: 20px;
	border-radius: 15px;
	   background-color:  #2b5797;
}
.loader-planet {
   	top: 20px;
	left: 20px;
    position: absolute;
    height: 40px;
    width: 40px;
    	border-radius: 20px;
       background-color:  #2b5797;
}

@-webkit-keyframes loader1{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes loader1{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}