/* -------------------------------------Common--------------------------------------------------------- */
body {
    font-family: segoe ui, Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}
#navbar {
    flex-basis: 100%;
}
ng-view {
    flex-basis: 100%;

}
ng-view >form {
    margin: 0;
    background-color: #0078D7;
}
#filter-animated {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;

}
section > h2 {
    flex-basis: 100%;
}
#brightness {
    display: inherit;
    background-color: #ABB1BE;
    flex: 1 0 550px;
    order: 2;

}
.maxmindiv {
    padding-left: 8px;
    text-align: center;
    color: #ffffff;
    width: 100px;  }
#slider {
    text-align:center;
    height: 74px;
    cursor: ew-resize;

}
/* Slider */

#brightness > div:nth-child(2) {
    flex-basis: 100%;
}
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 74px;
}
.ui-slider-handle {
    width: 3px;
    height: 100%;
    background-color: #003660;
    position: absolute;
    z-index: 20;
}
/*
.ui-slider-handle {
    top: 6px;
    width: 0px;
    height: 0px;
    position: absolute;
    z-index: 20;
    left: 150px;
    background: transparent;
    border-left: 10px solid #003660;
    border-top: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid transparent;
}
.ui-slider-handle:before {
    background: transparent;
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
        z-index: 20;
    left: -50px;
    top: -30px;
    border-left: 30px solid transparent;
    border-top: 30px solid transparent;
    border-right: 10px solid #003660;
    border-bottom: 30px solid transparent;
}
*/
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
}
.ui-widget-header {
    background: #ffffff;
    color: #222222;
    font-weight: bold;
}
#slider::after {
    content: "Brightness";
    position: relative;
    z-index: 100;
    color: #ABB1BE;
    top: 28px;
}
.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
}
.ui-slider {
    position: relative;
}
#search-grp {
    flex-basis: 100%;
    height: 74px;
    order:4;
}
#search-grp > button {
    height: 74px;
    margin-left: 3px;
    min-width: 74px;
    border: 0;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.3em;
    background-image: url("/static/stargazer/css/img/cross.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 45%;
}
#cat-button {
    background-color: #229DFC;
    margin-left: 0;
}
#type-button {
    background-color: #0894FF;
    margin-left: 0;
}
#const-button {
    background-color: #00599D;
    margin-left: 0;

}
#const-group {
    order: 5;
    display: inherit;
    flex: 1 0 300px;
}
#const-group > input {
    flex: 1;
}
#const-group > button {
    flex: 1;
}
#search-field {
    flex: 2 1 350px;
    order: 6;
}
#search-field > input {
    width: 100%;
}
#types {
    order: 7;
}
#catalogues {
    order: 8;
    border-right: 0;
}
/* Autocomplete */
.ui-menu .ui-menu-item {
    position: relative;
    margin: 0;
    cursor: pointer;
    min-height: 0;
}
.ui-menu {
    list-style: none;
    margin: 0;
    display: block;
    outline: none;
}
.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
}
.ui-menu-item {
    padding: 10px 25px 10px 25px;
}
.ui-menu-item:hover{
    background-color: #0078d7;
    border: none;
}

.ui-helper-hidden-accessible {
    visibility: hidden;
}
body > section.container {
    display: none;
}

/* Buttony */
.button  {
    width: auto;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 55px;
    display: inline-flex;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border: 3px solid #fff;
    color: #fff;
}

.button:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Button 1a */
.btn-1a:hover,
.btn-1a:active {
    color: #666666;
    background: #fff;
}
tr {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
tr:hover {
    background-color: #0078D7;
    color: #ffffff;
}
thead tr:hover:first-child {
    background: none;
    color: inherit;
}
thead tr {
    text-transform: uppercase;
    font-size: larger;
}
thead tr td {
    padding-left: 5px;
}
input {
    height: 74px;
    border: 0;
    padding: 0;
}
#search-btn {
    padding-top: 38px;
    margin-bottom: -3px;

}
#reset {
    border-left: none;
    order: 1;
}
.btn-icon {
    background-image: url("/static/stargazer/css/img/refresh.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 65%;
}

.btn-icon {
    background-image: url("/static/stargazer/css/img/refresh.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 65%;
}
#VisibleOnly {
    border-right: none;
    order: 3;
}
.btn-icon-notvis {
    background-image: url("/static/stargazer/css/img/circle-cross.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 65%;
}

.btn-icon-vis {
    background-image: url("/static/stargazer/css/img/check.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 65%;
}

body > ng-view > section {
    display: none;
}
.prevNext {
    border-top: none;
    border-bottom: none;
    border-left: none;
}
#results {
    margin-bottom: 100px;
}
#results > * {
    width: 100%;
}
.ui-autocomplete {
    color: #ffffff;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: #abb1be;
}
.ui-autocomplete >* {
    border-bottom: solid 1px ;
    background-color: #abb1be;

}
.ui-autocomplete > *:hover {
    background-color: #0078D7;
    border-bottom: solid 1px #0078D7 ;

}
/* Dropdown */
.dropdown-menu{
    color: #ffffff;
    min-width: 252px;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: #abb1be;
}
.dropdown-menu >* {
    padding: 10px 25px 10px 25px;
    border-bottom: solid 1px ;
}
.dropdown-menu > *:hover {
    background-color: #0078D7;
    border-bottom: solid 1px #0078D7 ;

}
/* Loadder */
div.box{
    display: none;
}
.loader1{
    position: relative;
    height: 90px;
    width: 90px;
    border-radius: 80px;
    border: 3px solid rgba(0, 120, 215, 0.70);

    top: 28%;
    top: -webkit-calc(50% - 43px);
    top: calc(50% - 43px);
    left: 35%;
    left: -webkit-calc(50% - 43px);
    left: calc(50% - 43px);

    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: loader1 6s linear infinite;
    animation: loader1 6s linear infinite;
}

.loader1:after{
    content: "";
    position: absolute;
    top: -10px;
    left: 20px;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background-color: #0078d7;
}
.loader-planet {
    top: 20px;
    left: 20px;
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: #0078d7;
}

@-webkit-keyframes loader1{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes loader1{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}
[ng-click] {
    cursor: pointer;
}
#buttons {
    width: 100%;
    background-color: rgba(53, 57, 62, 0.75);
    position: fixed;
    bottom: 0;
    height: 78px;
}
#buttons:hover {
    background-color: rgba(53, 57, 62, 0.95);
}
/* -------------------------------------Large---------------------------------------------------------- */
@media only screen
and (min-width : 1824px) {
    #navbar{
        margin: 0 15% 0 15%;
    }
    #filter-animated {
        margin: 0 15% 0 15%;
    }
    #reset{
        border: 3px solid #fff;

    }
    #VisibleOnly {
        border: 3px solid #fff;

    }
    #results {
        width: 70%;
        margin: 0 15% 74px 15%;
    }
    #catalogues {
        border-right: solid white;
    }
    #buttons {
        width: 70%;
    }

}
/* -------------------------------------Normal---------------------------------------------------------- */

@media only screen and (min-width : 1025px) and (max-width: 1280px){
    table {
        width:100%
    }
    tr > td:nth-child(4) {
        display: none;
    }
    tr > td:nth-child(5) {
        display: none;
    }
    tr > td:nth-child(6) {
        display: none;
    }
    tr > td:nth-child(9) {
        display: none;
    }
    tr > td:nth-child(10) {
        display: none;
    }
    #const-group {
        flex: 1 1 50%;
    }
    #search-field {
        order:8;
        flex: 1 1 100%
    }
    #types {
        order: 6;
        flex: 1 1 25%;
    }
    #types > button {
        width: 100%;
    }
    #catalogues {
        order: 7;
        flex: 1 1 25%;
    }
    #catalogues > button {
        width: 100%;
    }
}
#catalogues > button {
    border-right: none;
}

/* -------------------------------------mobile---------------------------------------------------------- */
/*Portrait*/
@media only screen
and (max-width : 400px) {

    tr > td:nth-child(7) {
        display: none;
    }
}
@media only screen
and (max-width : 480px) {
    #filter-animated{
        flex-wrap: wrap;

    }
    #filter-animated > * {
        flex: 1 1 100%;
        border-right: none;
        border-left: none;
    }
    #filter-animated > * > button {
        width: 100%;
    }
    #reset {}
    #brightness {
        flex: 1 1 100%;
        display: inherit;
        flex-wrap: wrap;
    }
    #brightness > div:nth-child(2) {
        order: 3;
        width: 100%;
    }
    #brightness > div:first-child {
        order: 1;
        flex: 1 1 50%;
    }
    #brightness > div:last-child {
        order: 2;
        flex: 1 1 50%;
    }
    table {
        width:100%
    }
    tr > td:nth-child(2) {
        display: none;
    }
    tr > td:nth-child(4) {
        display: none;
    }
    tr > td:nth-child(5) {
        display: none;
    }
    tr > td:nth-child(6) {
        display: none;
    }
    tr > td:nth-child(9) {
        display: none;
    }
    tr > td:nth-child(10) {
        display: none;
    }
    tr > td:nth-child(12) {
        display: none;
    }
    tr > td:last-child {
        display: none;
    }
    #buttons > button {
        width: 49%;
    }
    #buttons > button:last-child {
        border-right: none;
    }
}
@media only screen
and (max-width : 400px) {

    tr > td:nth-child(7) {
        display: none;
    }
}
/*Landscape*/
@media screen and (min-width: 481px) and (max-width: 720px){
    tr > td:last-child {
        display: none;
    }
}

/* -------------------------------------Tablet and small pc---------------------------------------------------------- */

@media only screen and (min-width: 481px) and (max-width: 1024px) {
    #reset {
        flex: 1 1 50%;
        text-align: center;

    }
    #brightness {
        order: 3;
        flex: 1 1 50%;
    }
    #VisibleOnly {
        flex: 1 1 50%;
        order: 2;
    }
    #search-field {
        flex: 1 1 100%;
    }
    #types {
        flex: 1 1 50%;
    }

    #types > button {
        width: 100%;
        border-left: none;
    }
    #catalogues {
        flex: 1 1 50%;
    }
    #catalogues > button {
        width: 100%;
        border-right: none;
    }
    table {
        width:100%
    }
    tr > td:nth-child(4) {
        display: none;
    }
    tr > td:nth-child(5) {
        display: none;
    }
    tr > td:nth-child(6) {
        display: none;
    }
    tr > td:nth-child(9) {
        display: none;
    }
    tr > td:nth-child(10) {
        display: none;
    }
}

#search-button {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.under {
    font-weight: bold;
    border-bottom: #FF6B7F solid 2px;
}
.nav-i {
    color: #666666;
    text-decoration: none;

}
.nav-i:hover {
    color: #ff6b7f;
    border-bottom: #666 solid 2px;
    text-decoration: none;


}

.ok {
    background-image: url("/static/stargazer/css/img/small-ok.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 45%;
}

input::-webkit-input-placeholder{
        color: #ff6b7f;

}
input:-ms-input-placeholder{
        color: #ff6b7f;

}
input::-ms-input-placeholder{
        color: #ff6b7f;

}
input:-moz-placeholder{
        color: #ff6b7f;

}
input::-moz-placeholder{
        color: #ff6b7f;

}
