/* -------------------------------------Common--------------------------------------------------------- */
body {
    font-family: segoe ui, Arial, sans-serif;
    font-size: large;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}
#navbar {
    flex-basis: 100%;
    padding: 0 10% 8px 10%;
}
#navbar > h1 > a{
    text-decoration: None;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: 500;
    height: 39px;
    line-height: 39px;
}
.mainview-animation {
    min-height: 1000px;
}
ng-view {
    flex-basis: 100%;


}
ng-view >form {
    margin: 0;
    background: #0096d7; /* Old browsers */
background: -moz-linear-gradient(-45deg, #0096d7 0%, #0078d7 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #0096d7 0%,#0078d7 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #0096d7 0%,#0078d7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0096d7', endColorstr='#0078d7',GradientType=1 )
}
#filter-animated {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;

}
section > h2 {
    flex-basis: 100%;
}
#brightness {
    display: inherit;
    background-color: #ABB1BE;
    flex: 1 0 550px;
    order: 2;
    height: 74px;


}
.maxmindiv {
    padding-left: 8px;
    text-align: center;
    color: #ffffff;
    width: 100px;  }
#slider {
    text-align:center;
    height: 74px;
    cursor: ew-resize;

}
/* Slider */

#brightness > div:nth-child(2) {
    flex-basis: 100%;
}
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 74px;
}
.ui-slider-handle {
    width: 3px;
    height: 100%;
    background-color: #003660;
    position: absolute;
    z-index: 20;
}
/*
.ui-slider-handle {
    top: 6px;
    width: 0px;
    height: 0px;
    position: absolute;
    z-index: 20;
    left: 150px;
    background: transparent;
    border-left: 10px solid #003660;
    border-top: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid transparent;
}
.ui-slider-handle:before {
    background: transparent;
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
        z-index: 20;
    left: -50px;
    top: -30px;
    border-left: 30px solid transparent;
    border-top: 30px solid transparent;
    border-right: 10px solid #003660;
    border-bottom: 30px solid transparent;
}
*/
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
}
.ui-widget-header {
    background: #ffffff;
    color: #222222;
    font-weight: bold;
}
#slider::after {
    content: "Brightness";
    position: relative;
    z-index: 100;
    color: #ABB1BE;
    top: 28px;
}
.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
}
.ui-slider {
    position: relative;
}
#search-grp {
    display: inline-flex;
    flex-basis: 100%;
    height: 74px;
    order:4;
}
#search-grp > button {
    height: 74px;
    margin: 0;
    min-width: 74px;
    border: 0;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.3em;
    background-repeat: no-repeat;
    background-position: right top;
    background-image: url("/static/stargazer/css/img/cross.svg");
    background-size: 45%;
}
#cat-button {
    background-color: #229DFC;
    margin-left: 0;
}
#type-button {
    background-color: #0894FF;
    margin-left: 0;
}
#const-button {
    background-color: #00599D;
    margin-left: 0;

}
#const-group {
    order: 5;
    display: inherit;
    flex: 1 0 300px;
}
#const-group > input {
    flex: 1;
}
#const-group > button {
    flex: 1;
}
#search-field {
    flex: 2 1 100%;
    margin: 86px 43px 0px 44px;
    order: 10;
}
#search-field > input {
    width: 100%;
}
input[type='text'] {
    font-size: larger;
}
#types {
    order: 7;
}
#catalogues {
    order: 8;
    border-right: 0;
}
/* Autocomplete */
.ui-menu .ui-menu-item {
    position: relative;
    margin: 0;
    cursor: pointer;
    min-height: 0;
}
.ui-menu {
    list-style: none;
    margin: 0;
    display: block;
    outline: none;
}
.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
}
.ui-menu-item {
    padding: 10px 25px 10px 25px;
}
.ui-menu-item:hover{
    background-color: #0078d7;
    border: none;
}

.ui-helper-hidden-accessible {
    visibility: hidden;
}
body > section.container {
    display: none;
}

/* Buttony */
.button  {
    height: 74px;
    width: auto;
    font-family: inherit;
    font-size: inherit;
    background: none;
    cursor: pointer;
    padding: 0px 55px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border: 3px solid #fff;
    color: #fff;
}

.button:after {
    height: 74px;
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Button 1a */
.btn-1a:hover,
.btn-1a:active {
    color: #666666;
    background: #fff;
}

tr {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-bottom: #666 solid 2px;
    height: 105px;
}
td {
    text-align: center;
}
#results tr {
    transition: 400ms;
}
#results tr:hover {
    background-color: #ffbf00;
    color: #676767;

}
#results thead tr:hover:first-child {
    background: none;
    color: inherit;
}
thead tr {
    text-transform: uppercase;
    font-size: larger;
}
thead tr td {
    padding-left: 5px;
}
input {
    height: 74px;
    border: 0;
    padding: 0;
}
#search-btn {
    padding-top: 38px;
    margin-bottom: -3px;

}

#reset {
    border-left: none;
    order: 1;
}
.btn-icon {
    background: url("/static/stargazer/css/img/refresh.svg") no-repeat right center;
    background-size: 65%;
}

.btn-icon {
    background: url("/static/stargazer/css/img/refresh.svg") no-repeat right center;
    background-size: 65%;
}
#VisibleOnly {
    border-right: none;
    order: 3;
}
.btn-icon-notvis {
    background: url("/static/stargazer/css/img/circle-cross.svg") no-repeat right center;
    background-size: 65%;
}

.btn-icon-vis {
    background: url("/static/stargazer/css/img/check.svg") no-repeat right center;
    background-size: 65%;
}
.prevNext {
    border-top: none;
    border-bottom: none;
    border-left: none;
}
#results {
    min-height: 400px;
    margin-bottom: 85px;
}
#results > * {
    width: 100%;
}
.ui-autocomplete {
    color: #ffffff;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: #abb1be;
}
.ui-autocomplete >* {
    border-bottom: solid 1px ;
    background-color: #abb1be;

}
.ui-autocomplete > *:hover {
    background-color: #0078D7;
    border-bottom: solid 1px #0078D7 ;

}

[ng-click] {
    cursor: pointer;
}
button {
}

.orderby {
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.85);
    background-color: #d7d7d7;
    transition: 400ms;

}
.orderby:hover {
    box-shadow: 0 0 0 12px rgba(195, 195, 195, 0.75);
}

#SearchAgain {
    color: #ffffff;
    background-color: #FF4900;
    content: 'Search Again';
    transition: 400ms;
}
#SearchAgain:hover {
    background-color: #FFF;
    color: #35393E;

}
tr > td:nth-child(1) {
    display: none;
}
/* -------------------------------------Large---------------------------------------------------------- */
@media only screen
and (min-width : 1824px) {

    #filter-animated {
        margin: 0 10% 0 10%;
    }

    #reset{
        border: 3px solid #fff;

    }
    #VisibleOnly {
        border: 3px solid #fff;

    }
    #results {
        width: 80%;
        margin: 0 10% 200px 10%;
    }
    #catalogues {
        border-right: solid white;
    }
    #buttons {
        width: 70%;
    }

}
/* -------------------------------------Normal---------------------------------------------------------- */

@media only screen and (min-width : 1025px) and (max-width: 1280px){
    #results  td:nth-child(12) {
        display: none;
    }

    table {
        width:100%
    }
    tr > td:nth-child(4) {
        display: none;
    }
    tr > td:nth-child(5) {
        display: none;
    }
    tr > td:nth-child(6) {
        display: none;
    }
    tr > td:nth-child(9) {
        display: none;
    }
    tr > td:nth-child(10) {
        display: none;
    }
    #const-group {
        flex: 1 1 50%;
    }
    #search-field {
        order:8;
        flex: 1 1 100%
    }
    #types {
        order: 6;
        flex: 1 1 25%;
    }
    #types > button {
        width: 100%;
    }
    #catalogues {
        order: 7;
        flex: 1 1 25%;
    }
    #catalogues > button {
        width: 100%;
    }
}
#catalogues > button {
    border-right: none;
}

/* -------------------------------------mobile---------------------------------------------------------- */
/*Portrait*/
@media only screen
and (max-width : 400px) {

    tr > td:nth-child(7) {
        display: none;
    }
}
@media only screen
and (max-width : 480px) {
    #filter-animated{
        flex-wrap: wrap;

    }
    #filter-animated > * {
        flex: 1 1 100%;
        border-right: none;
        border-left: none;
    }
    #filter-animated > * > button {
        width: 100%;
    }
    #reset {}
    #brightness {
        flex: 1 1 100%;
        display: inherit;
        flex-wrap: wrap;
        height: 222px;

    }
    #brightness > div:nth-child(2) {
        order: 3;
        width: 100%;
    }
    #brightness > div:first-child {
        order: 1;
        flex: 1 1 50%;
    }
    #brightness > div:last-child {
        order: 2;
        flex: 1 1 50%;
    }
    table {
        width:100%
    }
    tr > td:nth-child(2) {
        display: none;
    }
    tr > td:nth-child(4) {
        display: none;
    }
    tr > td:nth-child(5) {
        display: none;
    }
    tr > td:nth-child(6) {
        display: none;
    }
    tr > td:nth-child(9) {
        display: none;
    }
    tr > td:nth-child(10) {
        display: none;
    }
    tr > td:nth-child(12) {
        display: none;
    }
    tr > td:last-child {
        display: none;
    }
    #buttons > button {
        width: 49%;
    }
    #buttons > button:last-child {
        border-right: none;
    }
}
@media only screen
and (max-width : 400px) {

    tr > td:nth-child(7) {
        display: none;
    }
}
/*Landscape*/
@media screen and (min-width: 481px) and (max-width: 720px){
    tr > td:last-child {
        display: none;
    }
}

/* -------------------------------------Tablet and small pc---------------------------------------------------------- */

@media only screen and (min-width: 481px) and (max-width: 1024px) {
    #results  td:nth-child(12) {
        display: none;
    }
    #reset {
        flex: 1 1 50%;
        text-align: center;

    }
    #brightness {
        order: 3;
        flex: 1 1 50%;
        height: 74px;
    }
    #VisibleOnly {
        flex: 1 1 50%;
        order: 2;
    }
    #search-field {
        flex: 1 1 100%;
    }
    #types {
        flex: 1 1 50%;
    }

    #types > button {
        width: 100%;
        border-left: none;
    }
    #catalogues {
        flex: 1 1 50%;
    }
    #catalogues > button {
        width: 100%;
        border-right: none;
    }
    table {
        width:100%
    }
    tr > td:nth-child(4) {
        display: none;
    }
    tr > td:nth-child(5) {
        display: none;
    }
    tr > td:nth-child(6) {
        display: none;
    }
    tr > td:nth-child(9) {
        display: none;
    }
    tr > td:nth-child(10) {
        display: none;
    }
}

#search-button {
    font-size: 1.5em;
    display: block;
    margin: 20px auto;
}
.nav-i {
    color: #666666;
    text-decoration: none;
    font-weight: 900;
    text-transform: UPPERCASE;
    padding: 10px 10px 10px 10px;
    -webkit-transition:  400ms; /* Safari */
    transition: 400ms;
    background-color: white;
}
.nav-i:hover {
    color: #a9a9a9;
    border-bottom: #666 solid 2px;
    text-decoration: none;


}

.ok {
    background: url("/static/stargazer/css/img/small-ok.svg") no-repeat right center;
    background-size: 45%;
}
input {
    text-align: center;
    font-weight: 700;
}
input::-webkit-input-placeholder{
    font-weight: 700;
    color: #ABB1BE
}

input:-ms-input-placeholder{
    font-weight: 700;
    color: #ABB1BE
}
input:-ms-input-placeholder{
    font-weight: 700;
    color: #ABB1BE
}
input:-moz-placeholder{
    font-weight: 700;
    color: #ABB1BE
}

#nav-active {
    color: #FFF;
    text-decoration: none;
    font-weight: 700;
    background-color: #0078D7;
    text-transform: UPPERCASE;
    padding: 10px 10px 10px 10px;
}
#nav-active:hover {
    color: #666666;
    text-decoration: none;
    font-weight: 700;
    background-color: #eeeeee;
    text-transform: UPPERCASE;
    padding: 10px 10px 10px 10px;
}

@-webkit-keyframes pulsate
{
    0%   {background-color: rgba(53, 57, 62, 0.1);}
    50%  {background: rgba(53, 57, 62, 0.32);}
    100% {background: rgba(53, 57, 62, 0.11);}
}
a {
    color: #ebebeb;
    text-decoration: none;
    font-weight: 700;
    transition: 0.4s;
}
a:hover {
    color: #ebebeb;
    text-decoration: underline;
    font-weight: 700;
    cursor:pointer;

}