
#search-button {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.under {
    font-weight: bold;
        border-bottom: #FF6B7F solid 2px;
}
.nav-i {
    color: #666666;
        text-decoration: none;

}
.nav-i:hover {
    color: #ff6b7f;
    border-bottom: #666 solid 2px;
    text-decoration: none;


}



