.animate-enter,
.animate-leave
{
    -webkit-transition: 200ms cubic-bezier(0.950, 0.050, 0.795, 0.035) all;
    -moz-transition: 200ms cubic-bezier(0.950, 0.050, 0.795, 0.035) all;
    -ms-transition: 200ms cubic-bezier(0.950, 0.050, 0.795, 0.035) all;
    -o-transition: 200ms cubic-bezier(0.950, 0.050, 0.795, 0.035) all;
    transition: 200ms cubic-bezier(0.950, 0.050, 0.795, 0.035) all;
    position: relative;
    display: block;
}

.animate-enter.animate-enter-active,
.animate-leave {
    opacity: 1;
    right: 0;
    height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    right: -50px;
    height: 0px;
}