/* Loadder */
.box{
    display: none;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    padding-right: 30px;
    animation: pulsate 10s infinite;
    right: 0;
    top: 0;
}
.loader1{
    position: relative;
    height: 140px;
    width: 140px;
    border-radius: 80px;
    border: 5px solid rgba(53, 57, 62, 1);

    top: 28%;
    top: -webkit-calc(50% - 43px);
    top: calc(50% - 43px);
    left: 35%;
    left: -webkit-calc(50% - 43px);
    left: calc(50% - 43px);

    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: loader1 6s linear infinite;
    animation: loader1 6s linear infinite;
}

.loader1:after{
    content: "";
    position: absolute;
    top: -10px;
    left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #0078d7;
}
.loader-planet {
    top: 35px;
    left: 35px;
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    background-color: #0078d7;
}

@-webkit-keyframes loader1{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes loader1{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

/* Small Loader */
#annotation-loader{
    display: none;
    position: fixed;
    z-index: 100;
    width: auto;
    height: auto;
    animation: pulsate 10s infinite;
    right: calc(50% - 135px);
    bottom: 0;
    padding: 5px;
}
#small-loader{
    position: relative;
    height: 35px;
    width: 35px;
    border-radius: 20px;
    border: 1px solid rgba(53, 57, 62, 1);
    left: 35%;
    left: -webkit-calc(50% - 125px);
    left: calc(50% - 125px);

    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: loader1 6s linear infinite;
    animation: loader1 6s linear infinite;
}

#small-loader:after{
    content: "";
    position: absolute;
    top: -5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #0078d7;
}
#small-loader-planet {
    top: 8px;
    left: 8px;
    height: 18px;
    width: 18px;
    position: absolute;
    border-radius: 10px;
    background-color: #0078d7;
}
#annotation {
    padding: 8px 8px 8px 14px;
}
#params-annot {
    background-color: whitesmoke; display: none;
    position: fixed;
    z-index: 100;
    width: auto;
    height: auto;
    animation: pulsate 10s infinite;
    transition: 400ms;
    left: 0;
    bottom: 0;
    padding: 5px;
}
#go-top {
    display: none;
    position: fixed;
    bottom: 0;
    left: calc(50% - 32px);
    height: 64px;
    width: 64px;
    background: url(/static/stargazer/css/img/arrow-up.svg) center center no-repeat rgba(0, 120, 215, 0.75);
    padding: 6px;
    transition: 0.3s;
    z-index: 103;

}
#go-top:hover {
    background-color: rgb(0, 120, 215);
    box-shadow: 0 0 0 6px rgba(4, 122, 215, 1)

}

#strict-mode, #advanced, #reset, #withmag, #VisibleOnly {
    position: relative;
}
#strict-mode span, #advanced span, #reset span, #withmag span, #VisibleOnly span {
    position: absolute;
    width: 100%;
    color: #FFF;
    background: #22313F;
    line-height: 30px;
    visibility: hidden;
    border-radius: 0;
    opacity: 0;
    text-transform: none;
    text-shadow: none;

}
#strict-mode span:after,#advanced span:after, #reset span:after, #withmag span:after, #VisibleOnly span:after
{
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-bottom: 8px solid #22313F;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
#strict-mode:hover span, #advanced:hover span, #reset:hover span, #withmag:hover span, #VisibleOnly:hover span {
    visibility: visible;
    opacity: 1;
    top: 82px;
    left: 0;
    z-index: 999;
    transition: opacity 0.7s;
}

/*Hint loader*/
#hint-anotation-loader{
    display: none;
    width: 100%;
    justify-content: center;
}
#hint-loader{
    height: 35px;
    width: 35px;
    margin: 20px;
    border-radius: 20px;
    border: 1px solid rgb(215, 215, 215);
    left: 35%;
    left: -webkit-calc(50% - 125px);
    left: calc(50% - 125px);

    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: loader1 6s linear infinite;
    animation: loader1 6s linear infinite;
}

#hint-loader:after{
    content: "";
    position: absolute;
    top: -5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #0078d7;
}
#hint-loader-planet {
    top: 8px;
    left: 8px;
    height: 18px;
    width: 18px;
    position: absolute;
    border-radius: 10px;
    background-color: #0078d7;
}
.display-details-fullframe {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    align-items: center;
    align-content: center;
    justify-content: center;
    animation: pulsate 10s infinite;
    transition: opacity .7s;
}

.display-details {
    justify-content: center;
    display: flex;
    flex: 1 1 auto;
    z-index: 100;
    background-color:rgba(72,72,72,0.4);
}
#search-charts {
    text-align: center;
    height: auto;
    display: flex;
    color: white;
    background-color: white;
}
#search-charts > div:first-child {
    padding: 20px;
    background-color: #0078D7;
    align-self: stretch;
    margin: 0;
    width: 144px;
    transition: 400ms;
}
#search-charts > a:last-child {
    padding: 20px;
    background-color: #0078D7;
    align-self: stretch;
    margin: 0;
    width: 144px;
    transition: 400ms;
}
#search-charts > a {
    padding: 20px;
    align-self: stretch;
    margin: 0;
    width: 144px;
    transition: 400ms;
    background-color: #FFBF00;
    border-right: white 3px solid;
    color: #000b15;

}
#search-charts > a:hover {
    background-color: #d7d7d7
}