h2 {
    width: 100%;
}
h3 {
    width: 100%;
}
.main {
    flex-basis: 100%;
    display: flex;
    font-size: x-large;
    flex-flow: row wrap;
    padding: 1px 10% 5%  10%;
    color: #35393e;
    background-color: #f1f1f1;
    border-bottom: 1px solid #666;
    align-self: center;
    justify-content: center;

}
.half-cell {
    flex: 1 1 50%;
}
#names {
    min-height: 500px;
    flex-basis: 100%;
    padding: 1px 10% 5%;
    color: #35393e;
    background-color: #f1f1f1;
    align-self: center;
    justify-content: center;
    border-bottom: 1px solid #666;

}
#details {
    width: 80vw;
    -webkit-box-shadow: -1px 1px 1px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 1px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 1px -1px rgba(0,0,0,0.75);
}
#astromap {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #35393e;
    background-color: #22313f;
    border-bottom: 1px solid #666;
}
#overview {
    display:inline-block;
    text-indent: 40px;
    letter-spacing: 1px;

}
#various-titles {
    float: left;
    text-align: left;
    padding: 12px;
}
.single-photo {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
#main-photos {
    padding: 1px 10% 5% 10%
}
#sources {
    background-color: #35393E ;
    color: #f1f1f1;
}
.aladin-container {
    border: none;
}
aside#navigation-bar {
    position: fixed;
    right: -46px;
    top: 30%;
    z-index: 200;
    width: 130px;
}
aside#navigation-bar > section{
    text-align: left;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 900;
    text-transform: UPPERCASE;
    -webkit-transition:  400ms; /* Safari */
    transition: 400ms;
}
aside#navigation-bar > section > * {
    width: 130px;
    padding: 10px;
    margin: 2px;
    display: inline-block;
    background-color: #35393E;
    transition: 400ms;
    -webkit-box-shadow: -3px 3px 1px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 3px 1px -1px rgba(0,0,0,0.75);
    box-shadow: -3px 3px 1px -1px rgba(0,0,0,0.75);

}
aside#navigation-bar > section > *:hover {
    margin-left: -60px;
    background-color: #0078D7;

}
aside#navigation-bar > section:first-child > *:first-child {
    width: 130px;
    padding: 10px;
    margin-left: 0px;
    display: inline-block;
    background-color: #ffbf00;
    transition: 400ms;

}
aside#navigation-bar > section:first-child > *:first-child:hover {

}
#astrocharts {
    background-repeat: no-repeat;
}
.nextLeast {
    z-index: 1;
    text-align: left;
    padding: 20px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 900;
    text-transform: UPPERCASE;
    -webkit-transition:  400ms; /* Safari */
    transition: 400ms;
    width: auto;
    height: auto;
    background-color: #0279d7;
    position: fixed;
    bottom: 0;
    -webkit-box-shadow: -3px 3px 1px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 3px 1px -1px rgba(0,0,0,0.75);
    box-shadow: -3px 3px 1px -1px rgba(0,0,0,0.75);

}
.nextLeast:hover {
    box-shadow: 0 0 0 6px rgba(4, 122, 215, 0.75)
}

#search-charts {
    text-align: center;
    width: 100%;
    height: auto;
    display: inline-flex;
    color: white;
}
#search-charts > div:first-child {
    padding: 20px;
    background-color: #0279D7;
    height: 240px;
    margin: 0;
    width: 144px;
    transition: 400ms;
}
#search-charts > a > div {
    margin: 12px;
    padding: 16px;
    background-color: #FFBF00;
    width: 128px;
    height: 224px;
    transition: 400ms;
}
#search-charts > a > div:hover {
    box-shadow: 0 0 0 12px rgba(255, 191, 2, 0.75)
}
#sources *:link {
    text-decoration: none;
    color: white;
}
#sources *:visited {
    text-decoration: none;
    color: white;
}
#details-columns {
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    margin: 20px;
    background-color: #EBEBEB;
    padding: 10px;
}
#details-columns > p {
    margin-top: 0;
    padding-top: 0;
}
@media only screen and  (max-width: 1025px) {
    .half-cell{
        flex-basis: 100%;
    }
    #details-columns {
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        margin: 20px;
        background-color: #EBEBEB;
        padding: 0;

    }
    #main-photos {
        padding: 1px 9% 5%;
    }

}
.more-main {
    background-color: rgba(215, 215, 215, 1);
    margin-bottom: 12px;
}
.more-main > h4 {
    margin: 12px;
    padding: 2px;


}
.more-single {
    flex-wrap: wrap;
    background-color: #007AD7;
    margin: 12px;
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 300px;
    height: 300px;
    transition: 0.4s;
    color: #ebebeb;
    font-weight: 700;
}
.more-single:hover {
    box-shadow: 0 0 0 12px rgba(2, 121, 215, 0.75);
}

.more-single-out {
    width: 300px;
    height: 300px;
    position: absolute;
    margin: 0;
    padding: 0;
    display: inherit;
    align-items: center;
    justify-content: center;
}
.more-main-in {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 12px;
    height: 100px;
    background-color: rgba(255, 191, 0, 1);
    transition: 0.4s;
    color: #ebebeb;
    font-weight: 700;

}
.more-main-in:hover {
    box-shadow: 0 0 0 12px rgba(255, 191, 0, 0.75);

}

.more-single-out > img {
    z-index: 1;
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    left: 0;

}
.more-single-out > p{
    z-index: 2;
}
@media only screen  and (max-width: 648px) {
    .more-main-in {
        width: 300px;
    }
    .more-main {
        width: 324px;
    }
    #details-columns {
        column-count: 1;
        -webkit-column-count: 1;
        -moz-column-count: 1;
    }
    #search-charts{
        justify-content: center;
        display: inline-flex;
        flex-wrap: wrap;
    }
    #various-titles {
        width: 100%;
    text-align: center;
    padding: 12px;
}
}

@media only screen and (min-width: 649px) and (max-width: 972px) {
    .more-main {
        width: 648px;}

    .more-main-in {
        width: 624px;
        margin: 12px;
    }
    #search-charts{
        justify-content: center;
        display: inline-flex;
        flex-wrap: wrap;
    }
}
@media only screen  and (min-width: 972px) {
    .more-main {
        width: 972px;}

    .more-main-in {
        width: 948px;
        margin: 12px;
    }

}

@media only screen  and (min-width: 1296px) {
    .more-main {
        width: 1296px;

    }
    .more-main-in {
        width: 1272px;
    }
}