<div class="container" ng-controller="constallationsDetailController" style="padding-top: 60px">
    {{ constellation.abbreviation }}
<table class="table table-hover table-condensed" >
    <thead>
    <tr>
        <td>Catalogues                         </td>
        <td>Type</td>
        <td>Class</td>
        <td>RightAsc.</td>
        <td>Declination</td>
        <td><a href="#constellation">constellation</a></td>
        <td>Mag.</td>
        <td>DimAxb</td>
        <td>P.A.</td>
        <td>description</td>
        <td>ids</td>
        <td>notes</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="ngc in ngcs.results">
        <a href="{{ ngc.pk }}">
            <td><a href="{{ ngc.url }}"><span ng-repeat="cat in ngc.catalogues"><span style="white-space: nowrap">{{ cat.object_catalogue }} nr.{{ cat.object_number }}</span><br></span></a></td>
            <td>{{ ngc.type }}</td>
            <td>{{ ngc.classe }}</td>
            <td>{{ ngc.rightAsc }}</td>
            <td>{{ ngc.declination }}</td>
            <td><a href="#constellation/{{ ngc.constelation }}">{{ ngc.constelation }}</a></td>
            <td>{{ ngc.magnitudo }}</td>
            <td>{{ ngc.dimAxb }}</td>
            <td>{{ ngc.pa }}</td>
            <td>{{ ngc.description }}</td>
            <td>{{ ngc.id }}{{ ngc.id2 }}{{ ngc.id3 }}</td>
            <td>{{ ngc.notes }}</td>
        </a>
    </tr>
    </tbody>
</table>
        <span>
    <button ng-click="clickPrevious()"  type="button" class="btn btn-default">Previous</button>

    <button ng-click="clickNext()"  type="button" class="btn btn-default">Next</button>
        </span>
    </div>