<!doctype html>
<html>

<head lang="en">
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stellar maps browser</title>
    <meta name="fragment" content="!">
    <meta name="google-site-verification" content="4dVBhsu0btHKs-iGGCzK_r8k7BPVSKcmKXZDP2gkqK0" />

    <link rel="stylesheet" type="text/css" href="/static/stargazer/style.min.css"/>
    <!-- JS linki -->

    <!-- Keywords -->
    <meta name="keywords" content="astrocharts, skycharts, sky maps, skymaps, ngc catalogue, ngc, messier, sky maps free">

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/favicon/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/static/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/static/favicon/manifest.json">
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-TileImage" content="/static/favicon/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <script src="/static/jquery/dist/jquery.min.js"></script>
    <script src="/static/jquicust/jquery-ui.min.js"></script>
    <script src="/static/angular/angular.min.js"></script>
    <script src="/static/angular-resource/angular-resource.min.js"></script>
    <script src="/static/angular-route/angular-route.min.js"></script>

    <!-- Angular linki -->
    <script src="/static/stargazer/onefileangular.js"></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body ng-app="SearchApp">

{% verbatim %}
<header id="navbar">
    <h1 style="font-size: 1.65em;
    margin-bottom: 10px;;"><a href="/" target="_self">Zorya.co</a></h1>
    <p style="margin-top: 0;">Stellar maps search engine</p>
    <nav style="display: inline-block">
        <span><a href="/" class="nav-i" target="_self">Search</a></span>
        <span><a href="/about" class="nav-i" target="_self">about</a></span>
        <span style="display: none;"><a href="/explore/" class="nav-i" target="_self">Explore</a></span>
        <!-- span><a href="/{{ hashtag }}API" class="nav-i" target="_self">API</a> </span -->
    </nav>
</header>
<section class="ng-view-section" style="min-height: 1300px; width: 100%">
    <ng-view class="mainview-animation"></ng-view>
</section>
<!-- banner2 -->
<footer ng-controller="FooterCtrl" style="    justify-content: center;
    flex-flow: row wrap; display: flex">
    <section class="half-cell" style="align-self: baseline;">
        <h2>Contacts:</h2>
        <button ng-click="bugtracker = !bugtracker" class="btn-1a button" style="width: 280px">Report Bug</button>
        <button ng-click="contactapplet = !contactapplet" class="btn-1a button" style="margin-top: 5px;padding: 0 30px;width: 280px">Leave message</button>
    </section>
    <section class="half-cell" style="align-self: baseline;">
        <h2>Info:</h2>
        <p><a href="http://www.zorya.co/static/sitemap.xml">Sitemap</a></p>
    </section>
    <p style="text-align: center">Copyright 2016 ©</p>
    <div id="form-main" ng-hide="!bugtracker" ng-cloak>
        <div id="form-div">
            <form class="form" id="form1">
                <p id="form-title" ng-click="bugtracker = !bugtracker">Report Bug:</p>
                <p class="email">
                    <input name="email" type="text" class="validate[custom[email]] feedback-input" id="email" placeholder="Email" ng-model="bugform.author"/>
                </p>

                <p class="text">
                    <textarea name="text" class="validate[required,length[6,300]] feedback-input" id="comment" placeholder="*Information" ng-model="bugform.info" required></textarea>
                </p>
                <p style="color: white">*required</p>

                <div class="submit">
                    <input type="submit" value="SEND" ng-click="sendbug()"  id="button-blue"/>
                    <div class="ease"></div>
                </div>
            </form>
        </div>
    </div>
    <div id="form-main" ng-hide="!contactapplet" ng-cloak>
        <div id="form-div">
            <form class="form" id="form1">
                <p id="form-title" ng-click="contactapplet = !contactapplet">Contact us:</p>
                <p class="email">
                    <input name="email" type="text" class="validate[custom[email]] feedback-input" id="email" ng-model="contactapp.author" placeholder="*Email" required/>
                </p>

                <p class="text">
                    <textarea name="text" class="validate[required,length[6,300]] feedback-input" id="comment" placeholder="*message" ng-model="contactapp.message" required></textarea>
                </p>
                <p style="color: white">*required</p>

                <div class="submit">
                    <input type="submit" value="SEND" ng-click="sendcontact()" id="button-blue"/>
                    <div class="ease"></div>
                </div>
            </form>
        </div>
    </div>
</footer>

<div class="box">
    <div class="loader1"><div class="loader-planet"></div> </div>
</div>

<!-- Small loader -->
<div id="annotation-loader">
    <div id="small-loader"><div id="small-loader-planet"></div> </div>
    <div id="annotation">Loading additional data...</div>

</div>
<div id="go-top"></div>
<script>
    $(document).ready(function(){
        $gotop = $('#go-top');
        $navbar = document.querySelector('#navbar');
        function showtop(){
            if (doctop() > 2200 && dochaight() > 1500){
                $gotop.css({'display':'block'})

            }
            else $gotop.css({'display':'None'});
            if (doctop() > 200){
                document.querySelector('#navbar > h1').setAttribute('style',
                        'display: inline-block;' +
                        'margin: 0;' +
                        'position: relative;' +
                        'bottom: -5px;');
                document.querySelector('#navbar > p').style.display = 'none';

                $navbar.setAttribute('style',
                        'background: white;' +
                        'width: 100%;' +
                        'position: fixed;' +
                        'top: -6px;' +
                        'z-index: 102;' +
                        'box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.75);' +
                        'padding: 0px 0px 7px 10%;')
            }
            else {
                $navbar.setAttribute('style', 'position: ""; top:""');
                document.querySelector('#navbar > h1').setAttribute('style',
                        'display:inherit;' +
                        'font-size: 1.65em;' +
                        'margin-bottom: 10px;');
                document.querySelector('#navbar > p').style.display = 'inherit';
            }
        }
        document.addEventListener('scroll', showtop, false);
        showtop()
        $gotop.click(function(){
            $("html, body").animate({ scrollTop: 0 }, 600);
            return false;
        });
    })
</script>
</body>
{% endverbatim %}
</html>