<!doctype html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stellar objects browser</title>

    <!-- CSS linki -->
    <link rel="stylesheet" type="text/css" href="/static/stargazer/css/mainflex.css">
    <!-- JS linki -->
    <script src="/static/jquery/dist/jquery.min.js"></script>
    <script src="/static/jquicust/jquery-ui.min.js"></script>
    <script src="/static/angular/angular.min.js"></script>
    <script src="/static/angular-resource/angular-resource.min.js"></script>
    <script src="/static/angular-animate/angular-animate.min.js"></script>
    <script src="/static/angular-route/angular-route.min.js"></script>

    <!-- Angular linki -->
    <script src="/static/stargazer/angular/app.js" ></script>
    <script src="/static/stargazer/search.js" ></script>


    <!-- Kontrollery -->
    <script src="/static/stargazer/angular/controllers/SearchController.js"></script>
    <!-- Dyrektywy -->
    <script src="/static/stargazer/angular/directives/EnterDirective.js"></script>
    <!-- Services -->
    <script src="/static/stargazer/angular/services/SearchFactory.js"></script>
</head>
{% include 'Header.html' %}

<body ng-app="SearchApp" ng-controller="SearchCtrl"  ng-cloak>
{% block header %}
{% endblock %}
{% verbatim %}
<ng-view></ng-view>
{% endverbatim %}

<script type="text/javascript">
    $(document).ready(function() {
        $('body').hide().fadeIn(1000);
        $('body > div.container > nav > span:nth-child(1) > a').addClass( "under b");

    });
</script>
<div class="box">
    <div class="loader1"><div class="loader-planet"></div> </div>
</div>

</body>
</html>