<form xmlns="http://www.w3.org/1999/html">
    <section id="filter-animated" >
        <h2 style="color: white">Filters:</h2>



        <button class="button btn-1 btn-1a btn-icon" style="height: 74px" type="button" id="reset" ng-click="ResetFilters()">
            Reset</button>

        <div id="brightness">
            <div class="maxmindiv">
                <label for="min_mag">Min:</label>
                <input type="text" id="min_mag" readonly style="border:0; width: 30px; background-color: transparent; font-weight:bold;" ng-model="MinMag" ng-init="MinMag = 1.6">
            </div>

            <div>
                <div id="slider"></div>
            </div>
            <div class="maxmindiv">
                <label for="max_mag">Max:</label>
                <input type="text" id="max_mag" readonly style="border:0; width: 30px; background-color: transparent; font-weight:bold;" ng-model="MaxMag" ng-init="MaxMag = 18">
            </div>
        </div>
        <button type="button"  id="VisibleOnly" class="button btn-1 btn-1a"  ng-class="visible ? 'btn-icon-vis' : 'btn-icon-notvis'" ng-click="VisibleOnly()"  style="height: 74px">
            Visible Only
        </button>
        <div id="search-grp">
            <button type="button" id="const-button" ng-repeat="c in SearchConstellation" ng-click="RemoveConst()">
                {{ c }}
            </button>
            <button type="button" id="type-button" ng-repeat="t in SearchTypes" ng-click="RemoveType()">
                {{ t }}
            </button>
            <button type="button" id="cat-button"  ng-repeat="cat in SearchCatalogues" ng-click="RemoveCatalogue()">
                {{ cat }}
            </button>
        </div>




        <div id="const-group" >
            <input id="autocomplete" class="form-control" placeholder="Type constellation" ng-model="Constellation" >
            <div class="btn-group">
                <button type="button" ng-click="ChooseConst()" class="button btn-1 btn-1a" >Add</button>
            </div>
        </div>
        <div id="search-field">
        <input type="text" class="form-control" ng-model="Name" placeholder="Type name or nr. e.g. m 31, andromeda, NGC 224" >
        </div>
        <div id="types">
            <button type="button" class="button btn-1 btn-1a" ng-click="TypeList=!TypeList">
                Types&#9660;
            </button>
            <ul class="dropdown-menu" ng-hide="TypeList" style="list-style-type:none">
                <li ng-repeat="t in Types" style="white-space: nowrap;" ng-click="ChooseType()" >
                    {{ t.label }}
                </li>
            </ul>
        </div>
        <div id="catalogues">
            <button type="button" class="button btn-1 btn-1a" ng-click="CatList=!CatList">
                Catalogues&#9660;
            </button>
            <ul ng-hide="CatList"  class="dropdown-menu" style="list-style-type:none">
                <li ng-repeat="cat in Catalogues" style="white-space: nowrap; " ng-click="ChooseCatalogue($event)">
                    {{ cat }}
                </li>
            </ul>
        </div>
        <div id="search-btn" style="order: 9; flex-basis: 100%; display: inherit; justify-content: center">
            <input type="submit" value="search" class="button btn-1 btn-1a" ng-click="SearchFor(1)"/>
        </div>
    </section>
</form>
<!-- TODO Lista obiektów jako dyrektywa -->
<section id="results">
    <h3>Results: {{ SearchNgc.count }}</h3>
    <table style="border: 0" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <td>#</td>
            <td>Catalogues</td>
            <td>Type</td>
            <td>Class</td>
            <td>RightAsc.</td>
            <td>Declination</td>
            <td>Const.</td>
            <td>Mag.</td>
            <td>DimAxb</td>
            <td>P.A.</td>
            <td>Other names</td>
            <td>notes</td>
            <td>img</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="ngc in SearchNgc.results" ng-click="trUrl(ngc.id)">
            <td>{{ ngc.unique_name}}</td>
            <td><span ng-repeat="cat in ngc.catalogues"><span style="white-space: nowrap">{{ cat.object_catalogue }} {{ cat.object_number }}</span><br></span></td>
            <td>{{ ngc.type }}</td>
            <td>{{ ngc.classe }}</td>
            <td>{{ ngc.rightAsc }}</td>
            <td>{{ ngc.declination }}</td>
            <td>{{ ngc.constelation }}</td>
            <td>{{ ngc.magnitudo }}</td>
            <td>{{ ngc.dimAxb }}</td>
            <td>{{ ngc.pa }}</td>
            <td>{{ ngc.id1 }},{{ ngc.id2 }},{{ ngc.id3 }}</td>
            <td>{{ ngc.notes }}</td>
            <td><a  ng-if="ngc.photos[0].orginal" href="{{ ngc.photos[0].orginal }}"><img ng-src="{{ ngc.photos[0].thumb }}" width="100" height="100"></a> </td>

        </tr>
        </tbody>
    </table>
    <!--TODO Automatyczne doładywanie następnej listy bez przycisków -->
    <section id="buttons">
        <button ng-click="clickPrevious()"  type="button" class="button btn-1 btn-1a prevNext">Previous</button>

        <button ng-click="clickNext()"  type="button" class="button btn-1 btn-1a prevNext">Next</button>
    </section>
</section>
