<form>
    <section id="filter-animated" >
        <h2 style="color: white">Filters:</h2>



        <button class="button btn-1 btn-1a btn-icon" style="height: 74px" type="button" id="reset" ng-click="ResetFilters()">
            Reset</button>

        <div id="brightness">
            <div class="maxmindiv">
                <label for="min_mag">Min:</label>
                <input type="text" id="min_mag" readonly style="border:0; width: 30px; background-color: transparent; font-weight:bold;" ng-model="filters.MinMag">
            </div>

            <div>
                <div id="slider"></div>
            </div>
            <div class="maxmindiv">
                <label for="max_mag">Max:</label>
                <input type="text" id="max_mag" readonly style="border:0; width: 30px; background-color: transparent; font-weight:bold;" ng-model="filters.MaxMag">
            </div>
        </div>
        <button type="button"  id="VisibleOnly" class="button btn-1 btn-1a"  ng-class="filters.visible ? 'btn-icon-vis' : 'btn-icon-notvis'" ng-click="VisibleOnly()"  style="height: 74px">
            Visible Only
        </button>
        <div id="search-grp">
            <button type="button" id="const-button" ng-repeat="c in filters.SearchConstellation" ng-click="RemoveConst()">
                {{ c }}
            </button>
            <button type="button" id="type-button" ng-repeat="t in filters.SearchTypes" ng-click="RemoveType()">
                {{ t }}
            </button>
            <button type="button" id="cat-button"  ng-repeat="cat in filters.SearchCatalogues" ng-click="RemoveCatalogue()">
                {{ cat }}
            </button>
        </div>










        <div id="const-group" >
            <input id="autocomplete" class="form-control" placeholder="Add constellation" ng-model="Constellation" >
            <div class="btn-group">
                <button type="button" ng-click="ChooseConst()" class="button btn-1 btn-1a" >Add</button>
            </div>
        </div>
        <div id="search-field">
            <input type="text" class="form-control" ng-model="filters.Name" placeholder="Add name or nr. e.g. m 31, andromeda, NGC 224" >
        </div>

        <div id="types">
            <button type="button" class="button btn-1 btn-1a">
                Types&#9660;
            </button>
            <ul class="dropdown-menu" style="list-style-type:none">
                <li  class="single-type" ng-if="filters.advanced"  ng-repeat="t in ddtypes" style="white-space: nowrap;" >{{ t.uniname }} &#9654
                    <ul class="otype"><li ng-repeat="ot in t.data" ng-class="{'ok': filters.SearchTypes.indexOf(ot.value) != -1}" ng-click="ChooseType()" class="single-type">{{ ot.label }}</li></ul>
                </li>


                <!-- Zaawansowane wyszukiwanie -->
                <li ng-if="!filters.advanced" ng-class="{'ok': filters.SearchTypes.indexOf(t.uniname) != -1}" ng-repeat="t in ddtypes" style="white-space: nowrap;" ng-click="ChooseType()" >
                    {{ t.uniname }}
                </li>
                <li id="advanced" ng-click="ChooseAdvanced()" ng-class="filters.advanced ? 'btn-icon-vis' : 'btn-icon-notvis'"><h4 >Advanced</h4></li>
            </ul>
        </div>

        <div id="catalogues">
            <button type="button" class="button btn-1 btn-1a">
                Catalogues&#9660;
            </button>
            <ul class="dropdown-menu" style="list-style-type:none">
                <li ng-repeat="cat in Catalogues" style="white-space: nowrap; " ng-class="{'ok': filters.SearchCatalogues.indexOf(cat) != -1}" ng-click="ChooseCatalogue()">
                    {{ cat }}
                </li>
            </ul>
        </div>
        <div id="search-btn" style="order: 9; flex-basis: 100%; display: inherit; justify-content: center">
            <input type="submit" value="search" class="button btn-1 btn-1a" ng-click="SearchFor(1)"/>
        </div>
    </section>
</form>
<section id="results">
    <h3>Results: {{ StellarObject.count }}</h3>
    <table style="border: 0">
        <thead>
        <tr style="background-color: #EBEBEB;">
            <td>#<p></p></td>
            <td>Catalogues<p></p></td>
            <td ng-click="orderBy('type')"  class='orderby'>Type <div class="animate-switch-container" ng-switch on="filters.ordering">
                                <p class="animate-switch" ng-switch-when="-type">&#x25BC</p>
                                <p class="animate-switch" ng-switch-when="type">&#x25B2</p>
                                <p class="animate-switch" ng-switch-when=""></p>
</div>            </td>
            <td ng-click="orderBy('classe')" class='orderby'>Class<div class="animate-switch-container" ng-switch on="filters.ordering">
                                <p class="animate-switch" ng-switch-when="-classe">&#x25BC</p>
                                <p class="animate-switch" ng-switch-when="classe">&#x25B2</p>
                                <p class="animate-switch" ng-switch-when=""></p>
</div>            </td>
            <td ng-click="orderBy('rightAsc')" class='orderby'>RightAsc.
                <div class="animate-switch-container" ng-switch on="filters.ordering">
                                <p class="animate-switch" ng-switch-when="-rightAsc">&#x25BC</p>
                                <p class="animate-switch" ng-switch-when="rightAsc">&#x25B2</p>
                                <p class="animate-switch" ng-switch-when=""></p>
</div>   </td>
            <td ng-click="orderBy('declination')" class='orderby'>Declination
                <div class="animate-switch-container" ng-switch on="filters.ordering">
                                <p class="animate-switch" ng-switch-when="-declination">&#x25BC</p>
                                <p class="animate-switch" ng-switch-when="declination">&#x25B2</p>
                                <p class="animate-switch" ng-switch-when=""></p>
</div></td>
            <td ng-click="orderBy('constelation')" class='orderby'>Const.
                <div class="animate-switch-container" ng-switch on="filters.ordering">
                                <p class="animate-switch" ng-switch-when="-constelation">&#x25BC</p>
                                <p class="animate-switch" ng-switch-when="constelation">&#x25B2</p>
                                <p class="animate-switch" ng-switch-when=""></p>
</div></td>
            <td ng-click="orderBy('magnitudo')" class='orderby'>Mag.
                <div class="animate-switch-container" ng-switch on="filters.ordering">
                                <p class="animate-switch" ng-switch-when="-magnitudo">&#x25BC</p>
                                <p class="animate-switch" ng-switch-when="magnitudo">&#x25B2</p>
                                <p class="animate-switch" ng-switch-when=""></p>
</div></td>
            <td>DimAxb<p></p></td>
            <td>P.A.<p></p></td>
            <td>Other names<p></p></td>
            <td>notes<p></p></td>
            <td>img<p></p></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="obj in results track by $index" ng-click="trUrl(obj.id, $index)" href="/{{ obj.id }}" data-href="/{{ obj.id }}" style="min-height: 105px">
            <td>{{ obj.unique_name}}</td>
            <td><span ng-repeat="cat in obj.catalogues"><span style="white-space: nowrap">{{ cat.object_catalogue }} {{ cat.object_number }}</span><br></span></td>
            <td>{{ obj.type }}</td>
            <td>{{ obj.classe }}</td>
            <td>{{ obj.rightAsc }}</td>
            <td>{{ obj.declination }}</td>
            <td>{{ obj.constelation }}</td>
            <td>{{ obj.magnitudo }}</td>
            <td>{{ obj.dimAxb }}</td>
            <td>{{ obj.pa }}</td>
            <td>{{ obj.id1 }},{{ obj.id2 }},{{ obj.id3 }}</td>
            <td>{{ obj.notes }}</td>
            <td><a ng-if="obj.photos[0].orginal" href="{{ obj.photos[0].orginal }}"><img ng-src="{{ obj.photos[0].thumb }}" width="100" height="100"></a> </td>
        </tr>
        </tbody>
    </table>
</section>
<div id="params-annot">Search parameters changed. Press <b>enter</b> to search again</div>
<script type="text/javascript" >
        search_butt = document.getElementsByClassName('nav-i')[0];
        search_butt.id = 'nav-active';
        explore_butt = document.getElementsByClassName('nav-i')[1];
        explore_butt.id = '';
</script>