<main class="main" id="names">
    <section class="half-cell" style="align-self: flex-start;">
<h1><span ng-repeat="cat in MainObject.catalogues"><span style="white-space: nowrap">{{ cat.object_catalogue }} {{ cat.object_number }}</span><br></span></h1>
    <h4><span>{{ MainObject.id1 }}<br> {{ MainObject.id2 }}<br> {{ MainObject.id3 }}</span></h4>
    <h4><span>{{ ngc.notes }}{{ MainObject.unique_name }}</span></h4>
        </section>
    <section class="half-cell" ng-if="MainObject.overview" ><h1>Overview:</h1>
    <span id="overwiev">{{ MainObject.overview }}</span></section>
</main>
<main class="main" id="details" ng-if="MainObject"><h1 style="flex-basis: 100%">Details:</h1>
<section style="flex-basis: 100%">
    <table>
        <h3>Catalogues:</h3>
        <tr ng-repeat="cat in MainObject.catalogues">
            <td style="display: table-cell">{{ cat.object_catalogue }}</td>
            <td style="display: table-cell">{{ cat.object_number }}</td>
            <hr>
        </tr>

    </table>
                <hr>

</section>
<section id="details-columns">
    <p class="single-detail" ng-if="MainObject.constelation"><b>Constellation:</b>{{ getConstelationName()}}</p>
    <p class="single-detail" ng-if="MainObject.otype"><b>Uniform type:</b> {{ MainObject.otype }}</p>
    <p class="single-detail" ng-if="MainObject.type"><b>Type:</b> {{ MainObject.type }}</p>
    <p class="single-detail" ng-if="MainObject.type_shortcut"><b>Type shortcut:</b> {{ MainObject.type_shortcut }}</p>
    <p class="single-detail" ng-if="MainObject.classe"><b>Class:</b> {{ MainObject.classe }}</p>
    <p class="single-detail" ng-if="MainObject.rightAsc"><b>Right Ascension:</b> {{ MainObject.rightAsc }}</p>
    <p class="single-detail" ng-if="MainObject.declination"><b>Declination:</b> {{ MainObject.declination }}</p>
    <p class="single-detail" ng-if="MainObject.distance"><b>Distance:</b> {{ MainObject.distance }}</p>
    <p class="single-detail" ng-if="MainObject.magnitudo"><b>Magnitudo:</b> {{ MainObject.magnitudo }}</p>
    <p class="single-detail" ng-if="MainObject.dimAxb"><b>Visible size:</b> {{ MainObject.dimAxb }}</p>
    <p class="single-detail" ng-if="MainObject.pa"><b>Position angle:</b> {{ MainObject.pa }}</p>
    <p class="single-detail" ng-if="MainObject.description"><b>Description:</b> {{ MainObject.description }}</p>
    <p class="single-detail" ng-if="MainObject.id1"><b>Other names:</b>
        <span ng-if="MainObject.id1">{{ MainObject.id1 }}</span>
        <span ng-if="MainObject.id2">, {{ MainObject.id2 }}</span>
        <span ng-if="MainObject.id3">, {{ MainObject.id3 }}</span>
</p>
    <!--
    <p ng-if="MainObject.photos[0].orginal"><a href="{{ MainObject.photos[0].orginal }}"><img ng-src="{{ MainObject.photos[0].normal }}"></a> </p>
-->





</section></main>
<main id="astromap">
    <section id="aladin-lite-div" style="width:80%;height:100%; border: none"></section>
</main>
<main ng-if="MainObject.photos[0]"class="main" id="main-photos" ng-if="MainObject">
    <h2 style="flex-basis: 100%">Photos:</h2>
    <section class="single-photo" ng-repeat="photo in MainObject.photos">
        <img ng-src="{{ photo.orginal }}" height="100%" width="100%">
    </section>
</main>



<main id="astrocharts" class="main" ng-if="MainObject" >
    <h2 style="flex-basis: 100%">Sky Charts:</h2>
    <!--mapy -->
    <section  id="search-charts" ng-if="MainObject.magnitudo <= 12.6">
        <div>
        <img src="/static/stargazer/css/img/search.svg">
        <p>Found charts</p>
    </div><a ng-repeat="c in  charts.results" href="{{ c.url  }}" target="_blank"><div ><img src="/static/stargazer/css/img/pdf.svg">Max magnitudo: {{ c.max_mag }}</div></a></section>


    <!-- Brak map -->
    <section ng-if="MainObject.magnitudo > 12.6"><h2>
        <img src="/static/stargazer/css/img/search.svg">
        <p>We are sorry but page includes maps only up to 12.6 <!--a href="/glossary#magnitudo">magnitudo</a --></p>
    </h2>
    </section>


</main>
<main id="sources" class="main"><section class="half-cell">
    <h2>Sources:</h2>
    <p ng-if="MainObject.overview"><a href="https://en.wikipedia.org/wiki/{{ MainObject.catalogues[0].object_catalogue }} {{ MainObject.catalogues[0].object_number }}">Wikipedia</a></p>
    <p ng-if="MainObject.otype"><a href="http://simbad.u-strasbg.fr/simbad/sim-id?output.format=ASCII&Ident={{ MainObject.catalogues[0].object_catalogue }}_{{ MainObject.catalogues[0].object_number }}">Simbad Database</a></p>
</section></main>
<script>
    document.getElementById('nav-active').innerHTML = "&#8617 Back to Search!"
</script>
<style>
    #navbar {
        padding: 0 10% 8px 10%;
    }
</style>
<aside id="navigation-bar">
    <section>
        <h3><img src="/static/stargazer/css/img/list.svg"></h3>
    </section>
    <section><a ng-click="scrollTo('names')"><span>Top</span></a>
        <a ng-click="scrollTo('details')"><span>Details</span></a>
        <a ng-click="scrollTo('astromap')"><span>Astro Maps</span></a>
        <a ng-if="MainObject.photos[0].orginal" ng-click="scrollTo('main-photos')"><span>Photos</span></a>
        <a ng-click="scrollTo('astrocharts')"><span>Sky Charts</span></a>

    </section>
</aside>

<div ng-if="lastObject" ng-click="leastIndex(MainObject.id)" class="nextLeast" style="left: 0; background: #0279d7 url('/static/stargazer/css/img/left.svg') no-repeat right center">{{ lastObject }}</div>
<div ng-if="nextObject" ng-click="nextIndex(MainObject.id)" class="nextLeast" style="right: 0; background: #0279d7 url('/static/stargazer/css/img/right.svg') no-repeat left center">{{ nextObject }}</div>