<main id="names">
    <section id="various-titles">
        <div>
            <h3>Names:</h3>
<h3><span ng-repeat="cat in MainObject.catalogues"><span style="white-space: nowrap">{{ cat.object_catalogue }} {{ cat.object_number }}</span><br></span></h3>
            <h3><span ng-repeat="bib in MainObject.bibcode|limitTo:15"><span style="white-space: nowrap">{{ bib.name }}</span><br></span></h3>
            <!-- banner3 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-2422075747758177"
     data-ad-slot="7241854389"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</section>
    <section id="overwiev" ng-if="MainObject.overview"><h3>Overview:</h3>
    <span>{{ MainObject.overview }}</span></section>
</main>
<main class="main" id="details" ng-if="MainObject"><h4 style="flex-basis: 100%">Details:</h4>
<section style="flex-basis: 100%">
            <h4>Catalogues:</h4>

    <table>
        <tr ng-repeat="cat in MainObject.catalogues">
            <td style="display: table-cell">{{ cat.object_catalogue }}</td>
            <td style="display: table-cell">{{ cat.object_number }}</td>
            <hr>
        </tr>

    </table>
                <hr>
</section>
<section id="details-columns">
    <p class="single-detail" ng-if="MainObject.constelation"><b>Constellation:</b>{{ getConstelationName()}}</p>
    <p class="single-detail" ng-if="MainObject.otype"><b>Uniform type:</b> {{ MainObject.otype }}</p>
    <p class="single-detail" ng-if="MainObject.type"><b>Type:</b> {{ MainObject.type }}</p>
    <p class="single-detail" ng-if="MainObject.type_shortcut"><b>Type shortcut:</b> {{ MainObject.type_shortcut }}</p>
    <p class="single-detail" ng-if="MainObject.classe"><b>Class:</b> {{ MainObject.classe }}</p>
    <p class="single-detail" ng-if="MainObject.rightAsc"><b>Right Ascension:</b> {{ MainObject.rightAsc }}</p>
    <p class="single-detail" ng-if="MainObject.declination"><b>Declination:</b> {{ MainObject.declination }}</p>
    <p class="single-detail" ng-if="MainObject.distance"><b>Distance:</b> {{ MainObject.distance }}</p>
    <p class="single-detail" ng-if="MainObject.magnitudo"><b>Magnitudo:</b> {{ MainObject.magnitudo }}</p>
    <p class="single-detail" ng-if="MainObject.dimAxb"><b>Visible size:</b> {{ MainObject.dimAxb }}</p>
    <p class="single-detail" ng-if="MainObject.pa"><b>Position angle:</b> {{ MainObject.pa }}</p>
    <p class="single-detail" ng-if="MainObject.description"><b>Description:</b> {{ MainObject.description }}</p>
    <p class="single-detail" ng-if="MainObject.id1"><b>Other names:</b>
        <span ng-if="MainObject.id1">{{ MainObject.id1 }}</span>
        <span ng-if="MainObject.id2">, {{ MainObject.id2 }}</span>
        <span ng-if="MainObject.id3">, {{ MainObject.id3 }}</span>
</p>
    <!--
    <p ng-if="MainObject.photos[0].orginal"><a href="{{ MainObject.photos[0].orginal }}"><img ng-src="{{ MainObject.photos[0].normal }}"></a> </p>
-->





</section></main>
<main id="astromap">
    <section id="aladin-lite-div" style="width:80%;height:100%; border: none"></section>
</main>
<main ng-if="MainObject.photos[0]"class="main" id="main-photos">
    <h3 style="flex-basis: 100%">Photos:</h3>
    <section class="single-photo" >
       <a href="{{ photo.orginal }}" target="_blank" ng-repeat="photo in MainObject.photos" ><img class="more-single" ng-src="{{ photo.thumb }}" height="100%" width="100%"></a>
    </section>
</main>



<main id="astrocharts" class="main" ng-if="MainObject" >
    <h3 style="flex-basis: 100%">Sky Charts:</h3>
    <!--mapy -->
    <p ng-if="MainObject.magnitudo <= 12.6">Click on one bellow to download sky map</p>

    <section  id="search-charts" ng-if="MainObject.magnitudo <= 12.6">
        <div>
        <img src="/static/stargazer/css/img/search.svg">
            <p ng-if="!charts">Loading...</p>

        <p ng-if="charts">Found charts</p>

    </div><a ng-repeat="c in  charts.results" href="{{ c.url  }}" target="_blank"><div ><img src="/static/stargazer/css/img/pdf.svg">Max magnitudo: {{ c.max_mag }}</div></a></section>


    <!-- Brak map -->
    <section ng-if="MainObject.magnitudo > 12.6"><h2>
        <img src="/static/stargazer/css/img/search.svg">
        <p>We are sorry but page includes maps only up to 12.6 <!--a href="/glossary#magnitudo">magnitudo</a --></p>
    </h2>
    </section>


</main>
<section class="main" id="more-section">
    <h3>More:</h3>
    <p ng-if="!similar">Loading....</p>
    <main class="more-main" ng-if="similar.type"><h4>See more of {{ MainObject.type }}</h4>
    <a href="/object/{{ type.id }}" class="more-single" ng-repeat="type in similar.type"><div class="more-single-out">
        <img ng-if="type.photos[0].thumb" src=" {{ type.photos[0].thumb }}">
        <p>{{ type.catalogues[0].object_catalogue }} {{ type.catalogues[0].object_number }}</p>
    </div>
        </a>
        <a style="display: none" href="/explore/type/{{ MainObject.type_shortcut }}">
            <div class="more-main-in" >
                <img src="/static/stargazer/css/img/chain.svg")>
                See more in {{ MainObject.type }}</div></a></main>

    <main class="more-main" ng-if="similar.constellation"><h4>See more in {{ getConstelationName()}}</h4>
    <a href="/object/{{ constellation.id }}" class="more-single" ng-repeat="constellation in similar.constellation"><div class="more-single-out">
        <img ng-if="constellation.photos[0].thumb" src="{{ constellation.photos[0].thumb }}">
        <p>{{ constellation.catalogues[0].object_catalogue }}{{ constellation.catalogues[0].object_number }}</p>

    </div></a>
    <div class="more-main-in" style="display: none;">
        <img src="/static/stargazer/css/img/chain.svg")>
        See more in {{ getConstelationName()}}  </div></main>

    <main class="more-main" ng-if="similar.catalogue"><h4>See more in {{ MainObject.catalogues[0].object_catalogue }}</h4>
    <a href="/object/{{ catalogue.id }}" ng-if="catalogue.photos[0].thumb" class="more-single" ng-repeat="catalogue in similar.catalogue"><div class="more-single-out">
        <img src="{{ catalogue.photos[0].thumb }}">
        <p>{{ catalogue.catalogues[0].object_catalogue }} {{ catalogue.catalogues[0].object_number }}</p>

    </div></a>
        <div class="more-main-in" style="display: none">
            <img src="/static/stargazer/css/img/chain.svg")>
            See more in {{ MainObject.catalogues[0].object_catalogue }}</div></main>

</section>
<main id="sources" class="main"><section class="half-cell">
    <h3>Sources:</h3>
    <p ng-repeat="s in MainObject.source"><a href="{{ s.name }}">{{ s.name }}</a></p>
</section></main>

<aside id="navigation-bar">
    <section>
        <a ng-click="scrollTo('names')"><span>{{ MainObject.catalogues[0].object_catalogue }} {{ MainObject.catalogues[0].object_number }}</span></a>
        <a ng-click="scrollTo('astromap')"><span>Astro Maps</span></a>
        <a ng-if="MainObject.photos[0].orginal" ng-click="scrollTo('main-photos')"><span>Photos</span></a>
        <a ng-click="scrollTo('astrocharts')"><span>Sky Charts</span></a>
                <a ng-click="scrollTo('more-section')"><span>More</span></a>


    </section>
</aside>

<div ng-if="lastObject" ng-click="leastIndex(MainObject.id)" class="nextLeast" style="left: 0; background: #0279d7 url('/static/stargazer/css/img/left.svg') no-repeat right center">{{ lastObject }}</div>
<div ng-if="nextObject" ng-click="nextIndex(MainObject.id)" class="nextLeast" style="right: 0; background: #0279d7 url('/static/stargazer/css/img/right.svg') no-repeat left center">{{ nextObject }}</div>
<script type="text/javascript" >
    search_butt = document.getElementsByClassName('nav-i')[0];
    search_butt.id = '';
    explore_butt = document.getElementsByClassName('nav-i')[1];
    explore_butt.id = '';
</script>